/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/

.image-gallery {
  columns: 3;
  column-gap: 1rem;
}
.home_img {
display: block;
float: right;
border-radius: 2px;
max-width: 6rem;
max-height: 6rem;
margin: 1rem 0 0 2rem;
}
@media all and (max-width: 630px) {
}
@media all and (max-width: 630px) {
.image-gallery {
   columns: 2;
}
.home_img {
  float: none;
  width: 100%;
  margin: 0.3rem 0 1rem 0;
}
}
@media all and (max-width: 490px) {
  .image-gallery {
      columns: 1;
  }
}